{include file="layout/top" /}
<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/animate.min.css?version=3.1415926513">
<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/new_page.css?version=3.141259265131">
{include file="layout/header_index" /}
<div class="new-item01 bg-cc" style="background-image: url({$Think.HOME_IMGS}/item01-bg.jpg);">
    <div class="new-center">
        <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".4s">Hello, Visible Light Facial Recognition</h1>
        <img src="{$Think.HOME_IMGS}/item01.png" class="wow fadeInUp animated" data-wow-delay=".4s">
    </div>
</div>
<div class="new-item02 bg-cc" style="background-image: url({$Think.HOME_IMGS}/item02-bg02.jpg);">
    <div class="new-center bg-cc" style="background-image: url({$Think.HOME_IMGS}/item02-bg01.png);">
        <div class="w1610">
            <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">Motion Detection, Proactive Verification</h1>
            <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".4s">Verification technique automatically captures faces and verifies, no more stopping for capturing required</h2>
        </div>
    </div>
</div>
<div class="new-item03">
    <div class="w1610">
        <div class="clearfix">
            <div class="fl wow fadeInLeft animated" data-wow-delay=".2s">
                <h2 class="font-MR wow fadeInLeft animated" data-wow-delay=".4s">Identifies images and real faces for anti-spoof function</h2>
                <div class="video bg-cc wow fadeInLeft animated" data-wow-delay=".8s" style="background-image: url({$Think.HOME_IMGS}/item03-img01.png);">
                    <img class="new-center" src="{$Think.HOME_IMGS}/paly-icon.png">
                    <video src="{$Think.HOME_IMGS}/shouji.mp4" preload="auto" poster="{$Think.HOME_IMGS}/item03-img01.png"></video>
                </div>
            </div>
            <div class="fr wow fadeInRight animated" data-wow-delay=".2s">
                 <h2 class="font-MR wow fadeInRight animated" data-wow-delay=".4s">Utilizes deep learning to effectively identify living faces</h2>
                <div class="video bg-cc wow fadeInRight animated" data-wow-delay=".8s" style="background-image: url({$Think.HOME_IMGS}/item03-img02.png);">
                    <img class="new-center" src="{$Think.HOME_IMGS}/paly-icon.png">
                    <video src="{$Think.HOME_IMGS}/ipad.mp4" preload="auto" poster="{$Think.HOME_IMGS}/item03-img02.png"></video>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="new-item04 bg-cc" style="background-image: url({$Think.HOME_IMGS}/item04-bg.jpg);">
    <div class="wrap bg-cc">
        <div class="w1610">
             <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">Pioneering Techniques, Quicker and Farer</h1>
            <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".4s">Verifies in 0.5 second, outpacing conventional infrared techniques</h2>
            <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".4s">Up to 3m verification distance, no more crowded queuing</h2>
        </div>
    </div>
</div>
<div class="new-item05 bg-cc">
    <div class="w1610">
        <div class="wrap bg-cc">
            <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">Touchless Makes Convenience and Hygiene</h1>
            <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".3s">Visible light technique for better convenience and hygiene, Touchless verification for prevention of spread of disease</h2>
            <img class="wow fadeInUp animated" data-wow-delay=".4s" src="{$Think.HOME_IMGS}/item05-img.png">
        </div>
    </div>
</div>
<div class="new-item06 bg-cc" style="background-image: url({$Think.HOME_IMGS}/item06-bg.jpg);">
    <div class="w1610">
        <div class="wrap bg-cc">
            <div class="text">
                <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">Applies deep learning techniques 
    to widen face verification angle</h1>
                <h2 class="new-sub-tit font-MS wow fadeInDown animated" data-wow-delay=".3s">While most algorithms only support 15° face verification, 
    ZKBioFace visible light technique supports 30° face verification</h2>
            </div>
            <img class="wow fadeInUp animated" data-wow-delay=".4s" src="{$Think.HOME_IMGS}/item06-img.png" >
        </div>
    </div>
</div>
<div class="new-item07 bg-cc">
    <div class="w1610">
        <div class="wrap bg-cc">
            <div class="text">
                <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">One-stop Service</h1>
                <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".3s">Able to connect to ZKBioSecurity and ZKTime Web 2.0 for better convenience and management system</h2>
            </div>
            <div class="img">
                <div class="circle">
                    <img class="circle-a" src="{$Think.HOME_IMGS}/circle.png">
                    <img class="circle-b" src="{$Think.HOME_IMGS}/circle.png">
                    <img class="circle-c" src="{$Think.HOME_IMGS}/circle.png">
                    <img class="img01 wow fadeInDown animated" data-wow-delay=".4s" src="{$Think.HOME_IMGS}/item07-img01.png">
                </div>

                <img class="img02 wow fadeInDown animated" data-wow-delay=".6s" src="{$Think.HOME_IMGS}/item07-img02.png">
                <img class="img03 wow fadeInDown animated" data-wow-delay=".8s" src="{$Think.HOME_IMGS}/item07-img03.png">
                <img class="img04 wow fadeInDown animated" data-wow-delay="1s" src="{$Think.HOME_IMGS}/item07-img04.png">
                <img class="img05 wow fadeInDown animated" data-wow-delay="1.2s" src="{$Think.HOME_IMGS}/item07-img05.png">
                <img class="line wow fadeInDown animated" data-wow-delay="1.2s" src="{$Think.HOME_IMGS}/item07-line.png">
            </div>
	    <div class="phone">
                 <img class="phone" src="{$Think.HOME_IMGS}/item07-img-phone.png">
            </div>
        </div>
    </div>
</div>
<div class="new-item08 bg-cc">
    <div class="w1610">
        <div class="wrap bg-cc">
            <div class="text">
                <h1 class="new-tit font-MS wow fadeInDown animated" data-wow-delay=".2s">Users may upload personal information themselves</h1>
                <h2 class="new-sub-tit font-ML wow fadeInDown animated" data-wow-delay=".3s">New users may upload personal information through mobile app.,administrators may just enroll in system and perform registration for better convenience and efficiency.</h2>
            </div>
            <div class="img" data-wow-delay=".4s">
                <img class="left" src="{$Think.HOME_IMGS}/item08-left.png">
                <img class="gif" src="{$Think.HOME_IMGS}/item08-gif.gif">
                <img class="center" data-wow-delay=".4s" src="{$Think.HOME_IMGS}/item07-img01.png">
                <img class="right" src="{$Think.HOME_IMGS}/item08-right.png">
            </div>
            <div class="phone">
                 <img class="phone" src="{$Think.HOME_IMGS}/item08-img-phone.png">
            </div>
        </div>
    </div>
</div>
<!-- 视频 -->
<div class="bg000 video-model-bg"></div>
<div class="video-model">
    <div class="close"></div>
    <video width="100%" id="video" src="" autoplay="" controls=""></video>
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
<script type="text/javascript" src="{$Think.HOME_JS}/wow.min.js?version=1.89"></script>
<script>

$(document).ready(function(){
    $(".header-top .header .nav .nav-pro .dropdown").mCustomScrollbar({
        scrollInertia:800,
        autoDraggerLength:true,
        scrollButtons:{scrollSpeed:1000,scrollAmount:2000},
        scrollEasing:"easeOutCirc",
    });

});


$(function(){
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        new WOW().init();
    };

    //视频
    $(".new-item03 .clearfix > div .video").hover(function(){
        if($(document).width()>1024){
            $(this).find("video").trigger("play");
            $(this).find("img").fadeOut(150)
        }
    },function(){
        $(this).find("video").trigger("pause");
        $(this).find("img").fadeIn(150)
    })

    var src;
    $(".new-item03 .clearfix > div .video img").on("click",function(){
        src = $(this).siblings('video').attr("src");
        console.log(src)
        $(".video-model-bg,.video-model").fadeIn(150);
        $(".video-model video").attr("src",src);
    })
   

    $(".index-item02 .list .box .img > a").on("click", function () {
        src = $(this).parents(".list").find("input").val();
        console.log(src)
        $(".video-model-bg,.video-model").fadeIn(150);
        $(".video-model video").attr("src", src);
    })
    $(".index-item02 .list .box .img > a:last").off("click");

    $(".video-model .close,.video-model-bg").on("click", function () {
        $(".video-model-bg,.video-model").fadeOut(150);
        var  a = document.getElementById('video');
        a.pause();
    })
})

</script>
</body>
</html>
