{include file="layout/top" /}
{include file="layout/header" /}
<div class="page03 consult-success">
	<div class="w1400">
		<div class="position">
			<a href="{:url('/')}">{$Think.lang.home}</a> > <a href="{:url('/cases_lst')}">{$Think.lang.solution} </a> > <a href="{:url('/project_consultation')}">{$Think.lang.project_consultation}</a> > Project Consultation Submission Completed
		</div>
    	<div class="success-content slideIn02">
            <img src="{$Think.HOME_IMGS}/pro-hs-icon.png" alt="">
            <h3>{$Think.lang.msg3}</h3>
            <p>{$Think.lang.msg4}.</p>
        </div>
    </div>
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
</body>
</html>