<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="keywords" content="{$seo_keywords}" />
    <meta name="description" content="{$seo_description}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="{$Think.HOME_IMG}/favicon.ico" rel="shortcut icon">
    <meta name="renderer" content="webkit">
   <meta name="google-site-verification" content="m-7TdjdzgQtazbUeWVP29FYNiBuARiB5lZ6UpcAUn7U" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{$title}</title>
    {volist name='page_css' id='vo'}
	<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/{$vo}.css?version=3.141592651321">
    {/volist}
    <link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/jquery.mCustomScrollbar.css?version=3.1415">
<!--End of Tawk.to Script-->
</head>
<body>
<!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165015066-2"></script> <script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'UA-165015066-2'); </script>	
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-THZLTCD');</script> <!-- End Google Tag Manager -->
<!--End of Tawk.to Script-->

