{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <div class="w1400"><div class="position"><a href="{:url('/')}">{$Think.lang.home}</a> &gt; <a href="/en/user_center.html">{$Think.lang.user_center}</a> &gt; <a href="/en/authentication.html">{$Think.lang.authentication}</a> &gt; {$Think.lang.apply_gold_vip}</div></div>

    <section class="page-container page-containerLR20 marginB30">
        <div class="mCaption"><span>{$Think.lang.apply_gold_vip}</span></div>

        <section class="mForm mFormLR tran300" style="margin: 0 auto;">
            <div class="mActionTips-center tran300 vip">
                <p class="con">{$Think.lang.apply_gold_success}</p>
            </div>
        </section><!--.mForm end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
</body>
</html>