{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <div class="w1400"><div class="position"><a href="{:url('/')}">{$Think.lang.home}</a> &gt; <a href="/en/user_center.html">{$Think.lang.user_center}</a> &gt; {$Think.lang.apply_pwdback}</div></div>

    <section class="page-container page-containerLR20 minH500 marginB30">
        <div class="mCaption long"><span>{$Think.lang.apply_pwdback}</span></div>
        
        <section class="mForm mFormLR tran300" style="margin: 0 auto;">
            <div class="mActionTips-center tran300 success">
                <p class="con fontSize-24">{$Think.lang.commit_finfish}</p>
                <div class="ps">{$Think.lang.apply_pwdback_success_des}</div>
            </div>
        </section><!--.mForm end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
</body>
</html>