{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <div class="w1400"><div class="position"><a href="{:url('/')}">{$Think.lang.home}</a> &gt; <a href="{:url('/user_center')}">{$Think.lang.user_center}</a> &gt; {$Think.lang.feedback}</div></div>

    <section class="page-container page-containerLR20 marginB30">
        <div class="mCaption"><span>{$Think.lang.feedback}</span></div>
        
        <section class="mForm mFormLR tran300">
            <div class="mForm-body">
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.subject_class}：</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field tran300 select">
                            <select id='subjectCategory'>
                                {volist name='$problem_cat' id='vo'}
                                <option value="{$vo.problemCategory}">{$vo.problemCategory}</option>
                                {/volist}                         
                            </select>
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.problem_des}：</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field textarea tran300">
                            <textarea name='problemDesc' id='problemDesc' placeholder=""></textarea>
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.verif}</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field tran300 yzm icon clearfix">
                            <input class="tran300" type="text"  id='verif' name='verif' placeholder="{$Think.lang.verif}">
                            <div class="right tran300"><a class="yzm-imgBtn" href="javascript:;"><img src="{:captcha_src()}" id='vertify_code' alt="captcha" onclick="this.src='{:captcha_src()}?rnd=' + Math.random();" /></a></div>
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
                <div class="mForm-group">
                    <div class="mForm-colLeft empty"></div>
                    <div class="mForm-colRight">
                        <a class="mForm-btn-solid small tran300" id='submit_' href="javascript:;">{$Think.lang.submit}</a>
                    </div>
                </div>
            </div>
        </section><!--.mForm end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
<script>
    $('#submit_').on('click',function(){
        var check=0;
        $(".mForm input[type='text'],textarea[name='problemDesc']").each(function(){
            if ($(this).val().trim().length == 0) {
                check=1;
                val_isnull($(this));
            } else {
                val_is_notnull($(this));
            }
        })
        if (check == 0) {
            var subjectCategory = $('#subjectCategory').val();
            var problemDesc = $('#problemDesc').val();
            var verif = $('#verif').val();
            loading_msg("{$Think.lang.commit_now}");
            $.ajax({
                url: "{:url('/feedback')}", 
                data: {"subjectCategory":subjectCategory,'problemDesc':problemDesc,'verif':verif,'token':"{$Request.token}"},
                type:'post', 
                dataType: "json", 
                error:function(data){
                    layer.close(index);
                     showErrMsg("{$Think.lang.ajax_err}");
                     return;
                },  
                success:function(result){
                    layer.close(index);
                    if (result.status == 0) {
                        $('#vertify_code').trigger('click');
                        code_err($('#verif'),result.info);
                    } else {
                        window.location.href="{:url('index/User/feedback_finish')}";
                    }
                },
            })
        } 
        })
      
        
    function val_is_notnull(obj)
    {
        obj.parent().addClass('success');                       //增加提示成功的类
        obj.parent().next().empty();                            //移除错误提示
        obj.parent().next().removeClass('error');               //删除错误提示的类
        
    }
    function val_isnull(obj)
    {
        obj.parent().next().html("{$Think.lang.val_r}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function code_err(obj,err){
        obj.parent().next().html(err);    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    function loading_msg(msg){
        index = layer.msg(msg, {
            icon: 16,
            shade: 0.5,
            time: 30000,
            shadeClose: false 
        });
    }
</script>
</body>
</html>