{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <section class="page-container marginT30 marginB30">
        <div class="mColumn">
           <!--  <div class="mColumn-title tran300">{$Think.lang.password_retrieval}</div> -->
            <div class="con">
                <section class="mForm tran300">
                    <div class="mForm-tab">
                        <div class="mForm-tab-item active tran300" data-rel="defaultType"><span>{$Think.lang.email_retrieval}</span></div>
                    </div>
                    <div class="mForm-body" data-rel="defaultType" id='email_'>
                        <div class="mForm-group">
                            <div class="mForm-field tran300 icon-email">
                                <input class="tran300 email" id='email_input' type="text" placeholder="{$Think.lang.email}" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300 yzm icon clearfix">
                                <input class="tran300 entersubmit" id='verif1' type="text" placeholder="{$Think.lang.verif}">
                                <div class="right tran300"><a class="yzm-imgBtn" href="javascript:void(0);"><img src="{:captcha_src()}"  id="code1" alt="captcha" onclick="this.src='{:captcha_src()}?rnd=' + Math.random();" /></a></div>
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <a class="mForm-btn tran300" id='email_commit' href="javascript:void(0);">{$Think.lang.next}</a>
                        <div class="mForm-links clearfix">
                            {$Think.lang.no_account}, <a class="mColorGreen" href="{:url('/register')}">{$Think.lang.now_register}</a>
<!--                             <span class="right tran300"><a class="mColorGreen" href="#">忘记密码？</a></span> -->
                        </div>
                    </div>
                    
                </section><!--.mForm end-->
            </div>
        </div><!--.mColumn end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
<script>
$(function(){
    $('.mForm-tab-item').on('click',function(){
       $(this).addClass('active').siblings().removeClass('active');
       $('.mForm-body').hide();
       $('.mForm-body[data-rel='+ $(this).attr('data-rel') +']').show();
    })
    $('.entersubmit').keydown(function(event){ 
        if(event.keyCode==13){ 
            $(this).parent().parent().next().trigger('click');
        } 
    });
    $('#email_commit').on('click',function(){
        var check = 0;
        $("#email_ input[type='text']").each(function(){
            var val = $(this).val().trim();
            if (val.length == 0) {
                check = 1;
                val_isnull($(this));
            } else {
                if ($(this).hasClass('email')) {
                    if (email_check(val) == false) {
                        check = 1;
                        val_isnull_email($(this));
                    } else {
                        val_is_notnull($(this)); 
                    }
                } else {
                    val_is_notnull($(this));
                }
            }
        })
        if (check == 0) {
            loading_msg("{$Think.lang.sending_email}");  
            var email = $('#email_input').val();
            var verify1 = $('#verif1').val();
            $.ajax({
                url: "{:url('/password_retrieval')}", 
                data: {"email":email,'verify1':verify1},
                type:'post', 
                dataType: "json", 
                error:function(data){
                     showErrMsg("{$Think.lang.ajax_err}");
                     return;
                },  
                success:function(result){
                    if (result.status == 0) {
                        layer.close(index);
                        showErrMsg(result.info);
                        $('#code1').trigger('click');
                    } else {
                        layer.close(index);
                        window.location.href="{:url('index/User/email_retrieva_success')}?email="+email;
                    }
                }
            })
        }
    })
   
    function email_check(val)
    { 
        var pattern = /^(\w-*\.*&*)+@(\w-?)+(\.\w{2,})+$/;
        return pattern.test(val); 
    }
    function loading_msg(msg){
        index = layer.msg(msg, {
                icon: 16,
                shade: 0.5,
                time: 30000,
                shadeClose: false 
            });
    }
     // 验证手机号
    function isPhoneNo(phone) { 
        var pattern = /^1[34578]\d{9}$/; 
        return pattern.test(phone); 
    }
    function val_length(obj)
    {
        obj.parent().next().html("{$Think.lang.val_l}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    function val_is_notnull(obj)
    {
        obj.parent().addClass('success');                       //增加提示成功的类
        obj.parent().next().empty();                            //移除错误提示
        obj.parent().next().removeClass('error');               //删除错误提示的类
        
    }
    function val_isnull(obj)
    {
        obj.parent().next().html("{$Think.lang.val_r}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_email(obj)
    {
        obj.parent().next().html("{$Think.lang.email_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类     
    }
    function val_isnull_phone(obj)
    {
        obj.parent().next().html("{$Think.lang.phone_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function code_err(obj,err){
        obj.parent().next().html(err);    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    /**
     * [countdown 60S验证码]
     */
    var countdown = 60; 
    function settime(obj) { 
        if (countdown == 0) { 
            obj.html("{$Think.lang.send_verif}");
            obj.css('background','#78bc27');
            countdown = 60;
            $('#send_code').removeClass('locked');
            return;
        } else {
            obj.css('background','#666');
            obj.html("{$Think.lang.resend}(" + countdown + ")"); 
            countdown--;
        }
        setTimeout(function(){settime(obj)},1000)
    }
    function loading_msg(msg){
        index = layer.msg(msg, {
                icon: 16,
                shade: 0.5,
                time: 30000,
                shadeClose: false 
            });
    }
})
</script>
</body>
</html>