<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="{$Think.lang.keywords}" />
    <meta name="keywords" content="{$Think.lang.description}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{$Think.lang.register_zk}</title>
	<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/public.css">
	<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/page.css">
    <link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}/account.css">
    <style>
    body,html{ background: #f2f2f2;}
    </style>
</head>
<body class="registerPage">
    <div class="header-registerPage">
        <div class="page-container clearfix">
            <div class="logo fl"><a href="{:url('/')}"><img width="100%" src="{$Think.HOME_IMGS}/logo-black.png" alt=""></a></div>
        </div>
    </div>

    <section class="page-container" id='next1'>
        <div class="mColumn">
            <div class="con">
                <section class="mForm tran300 next1">
                    <div class="mForm-caption tran300">{$Think.lang.vip_register}</div>
                    <div class="mForm-body">
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 info email_" name='email' type="text" placeholder="Email" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300 yzm noIcon clearfix">
                                <input class="tran300 mo_bile"  type="text" id='code_' placeholder="{$Think.lang.verif}" />
                                <div class="right tran300"><a class="yzm-imgBtn" href="javascript:;"><img src="{:captcha_src()}"  id="code" alt="captcha" onclick="this.src='{:captcha_src()}?rnd=' + Math.random();" /></a></div>
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 info password_" name='password' type="password" id='password_' placeholder="{$Think.lang.please_pwd_1}" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 password_2 entersubmit"  type="password" placeholder="{$Think.lang.please_pwd_2}" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-protocol">
                            <input id="protocol" type="checkbox" name=""  />
                            <label for="protocol">{$Think.lang.read_1}</label><a id='registration_protocol' class="mColorGreen" href="javascript:;">{$Think.lang.read_2}</a><a id='privacy_protection' class="mColorGreen" href="javascript:;">&《Privacy Policy》</a>
                        </div>
                        <a class="mForm-btn tran300" href="javascript:;" id='login_'>{$Think.lang.next}</a>
                        <div class="mForm-links clearfix">
                            {$Think.lang.exist_account}，<a class="mColorGreen" href="{:url('/login')}">Login now</a>
                            <span class="right"><a class="mColorGreen" href="/">{$Think.lang.back_home}</a></span>
                        </div>
                    </div>
                </section><!--.mForm end-->
            </div>
        </div><!--.mColumn end-->
    </section>
    <section class="page-container" id='next2'>
        <div class="mColumn">
            <div class="con">
                <section class="mForm tran300">
                    <div class="mForm-caption tran300">{$Think.lang.vip_register}</div>{/* 会员注册 */}
                    <div class="mForm-body">
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 info" type="text" name='contactName' placeholder="{$Think.lang.name}" />{/* 姓名 */}
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">{/* 性别 */}
                            <div class="mForm-field tran300 radio">
                                <div class="mForm-radio"><input id="man" class='gender' checked="checked" type="radio" name="sex" value="0" /><label for="man">{$Think.lang.sex0}</label></div>
                                <div class="mForm-radio"><input id="woman" class='gender' type="radio" name="sex" value="1" /><label for="woman">{$Think.lang.sex1}</label></div>
                            </div>
                        </div>
                        <div class="mForm-group">{/* 电话 */}
                            <div class="mForm-field tran300">
                                <input class="tran300 info phone" type="text" name='tel' placeholder="Phone number" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">{/* 公司名称 */}
                            <div class="mForm-field tran300">
                                <input class="tran300 info" type="text"  name='companyName' placeholder="Company name" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300 select">
                                <select class='info' name='country'>
                                    {volist name='country' id='vo'}
                                    <option value="{$vo.countryName}">{$vo.countryName}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 info entersubmit2" type="text" name='address' placeholder="Detailed address" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                         <a class="mForm-btn tran300"  id='finish_register' href="javascript:;">{$Think.lang.finish_register}</a>
                    </div>
                </section><!--.mForm end-->
            </div>
        </div><!--.mColumn end-->
    </section>

    <section class="page-container" id='next3'>
        <div class="mColumn">
            <div class="con">
                <section class="mForm tran300 enChange-mForm">
                    <div class="mForm-caption tran300 enChange-caption">{$Think.lang.vip_register}</div>
                    <div class="con">
                    <section class="tran300">
                        <div class="mActionTips-center tran300 success marginT30 en-change">
                            <p class="con">{$Think.lang.sure_email_send}<span id='activeEmail' class="mColorGreen"></span> successfully<br><a href="javascript:void(0)">{$Think.lang.go_email_verif}</a></p>
<!--                             <p class="con">{$Think.lang.sure_email_send}<span id='activeEmail' class="mColorGreen"></span> successfully<br>{$Think.lang.go_email_verif}</p> -->
                        </div>
                    </section>
                </div>
                </section><!--.mForm end-->
            </div>
        </div><!--.mColumn end-->
    </section><!--.page-container end-->

    <div class="footer-registerPage marginT30">
        <div class="page-container clearfix">
            <div class="copy">
                <div class="item">{$web['copyright']['v']}</div>
                <div class="item">
                    <a href="{:url('/index/Index/legal_statement')}">{$Think.lang.legal_statement}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:url('/index/Index/privacy_protection')}">{$Think.lang.privacy_protection}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:url('/web_site_map')}">{$Think.lang.sitemap}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)"><img src="{$Think.HOME_IMGS}/footer-icon03.png" alt="">&nbsp;{$Think.lang.China}</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{$Think.HOME_JS}/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.HOME_JS}/layui.js"></script>
<script type="text/javascript" src="{$Think.HOME_JS}/layer/layer.js"></script>
<script>
$(function(){
    $('#next2').hide();
    $('#next3').hide();
    $('.entersubmit').keydown(function(event){ 
        if(event.keyCode==13){ 
            $("#login_").trigger('click');
        } 
    }); 
    $('.entersubmit2').keydown(function(event){ 
        if(event.keyCode==13){ 
            $("#finish_register").trigger('click');
        } 
    }); 
    if (getCookie('register_e') == 1) {
            showErrMsg("{$Think.lang.register_e}");
            delCookie('register_e');
    }
    if (getCookie('register_e_2').trim().length>0) {
            showErrMsg(eval(getCookie('register_e_2')));
            delCookie('register_e_2');
    }
    $('#registration_protocol').on('click',function(){
        var url = "{:url('/index/Index/registration_protocol?type=1','',false)}";
        layer.open({
          type: 2,
         //skin: 'layui-layer-rim', //加上边框
          area: ['90%', '90%'], //宽高
          content:url
        });
    })
    $('#privacy_protection').on('click',function(){
        var url = "{:url('/index/Index/registration_protocol?type=2','',false)}";
        layer.open({
          type: 2,
         //skin: 'layui-layer-rim', //加上边框
          area: ['90%', '90%'], //宽高
          content:url
        });
    })
    // $("input[type='text']").on('blur', function(){
    //     var val = $(this).val().trim();
    //     if (val.length == 0) {
    //        val_isnull($(this));
    //     } else {
    //         if ($(this).hasClass('phone')) {
    //             if (isPhoneNo(val) == false) {
    //                 val_isnull_phone($(this));
    //             } else {
    //                 val_is_notnull($(this)); 
    //             }
    //         } else {
    //             val_is_notnull($(this));
    //         }
    //     }
    // })
    function val_isnull(obj)
    {
        obj.parent().next().html("{$Think.lang.val_r}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_is_notnull(obj)
    {
        obj.parent().addClass('success');                       //增加提示成功的类
        obj.parent().next().empty();                            //移除错误提示
        obj.parent().next().removeClass('error');               //删除错误提示的类
        
    }
    function code_err(obj,err){
        obj.parent().next().html(err);    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    function email_check(val)
    { 
        var pattern = /^(\w-*\.*&*)+@(\w-?)+(\.\w{2,})+$/;
        return pattern.test(val); 
    }
    function password_check(val)  
    {  
        var pattern = /^(?![0-9]+$)(?![a-zA-Z]+$)[A-Za-z\d!@#$%^&*()_+<>?:"{},.\/;'[\]]{8,16}$/;
        return pattern.test(val); 
    }
    function val_isnull_email(obj)
    {
        obj.parent().next().html("{$Think.lang.email_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password(obj)
    {
        obj.parent().next().html("{$Think.lang.pwd_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password_2(obj)
    {
        obj.parent().next().html("{$Think.lang.rpwd_val}");     //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    $('#login_').on('click',function(){
        var check = 0;
        $(".next1 input[type='text'],input[type='password']").each(function(){
            if ($(this).val().trim().length == 0) {
                check = 1;
                val_isnull($(this));
            } else { 
                if ($(this).hasClass('email_')) {
                    if (email_check($(this).val().trim()) == false) {
                        check=1;
                        val_isnull_email($(this));
                    } else {
                        val_is_notnull($(this)); 
                    }
                } else if ($(this).hasClass('password_')) {
                    if (password_check($(this).val().trim()) == false ) {
                        check=1;
                        val_isnull_password($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else if ($(this).hasClass('password_2')) {
                    if ($(this).val().trim() != $('#password_').val()) {
                        check=1;
                        val_isnull_password_2($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else {
                    val_is_notnull($(this));
                }
            }
        });
        if (check == 0) {
            if ($('#protocol').attr('checked')=='checked') {
                var register_verify = $('#code_').val();
                var email_val = $('.email_').val().trim();
                loading_msg("{$Think.lang.commit_now}"); 
                $.ajax({
                    url: "{:url('User/check_register_verify')}", 
                    data: {"register_verify":register_verify,'email':email_val},
                    type:'post', 
                    dataType: "json", 
                    error:function(data){
                         layer.close(index);
                         showErrMsg("{$Think.lang.ajax_err}");
                         return;
                    },  
                    success:function(result){
                        layer.close(index);
                        if (result.status == 0) {
                            $('#code').trigger('click');
                            showErrMsg(result.info);                        
                        } else {
                            $('#next1').hide();
                            $('#next2').show();
                        }
                    },
                })
                
            } else {
                showErrMsg("{$Think.lang.please_chooses}");
            }
        } 
    })

    $("#finish_register").on('click',function(){
        var arr = new Object();
        var check = 0;
        $(".info").each(function(){
            if ($(this).val().trim().length == 0) {
                check = 1;
                val_isnull($(this));
            } else if ($(this).hasClass('phone')) {
                if (isPhoneNo($(this).val().trim()) == false) {
                    check = 1;
                    val_isnull_phone($(this));
                } else {
                    var item = $(this).attr('name');
                    arr[item] = $(this).val().trim();
                    val_is_notnull($(this));        
                }
            } else {
                var item = $(this).attr('name');
                arr[item] = $(this).val().trim();
                val_is_notnull($(this));
            }
        })
        if (check == 0) {
            arr['gender'] = $('.gender:checked').val().trim();
            loading_msg("{$Think.lang.commit_now}"); 
            $.ajax({
                    url: "{:url('/register_userinfo')}", 
                    data: arr,
                    type:'post', 
                    dataType: "json", 
                    error:function(data){
                        layer.close(index);
                         showErrMsg("{$Think.lang.ajax_err}");
                         return;
                    },  
                    success:function(result){
                        layer.close(index);
                        if (result.status == 0) {
                            showErrMsg(result.info);                           
                        } else {
                            $('#next1').hide();
                            $('#next2').hide();
                            $('#next3').show();
                            $('#activeEmail').html(arr.email);
                            setTimeout(header_login,5000)                            
                        }
                    },
                })
        }
    })
    function header_login() {
        window.location.href = "{:url('/login')}";
    }     
    function loading_msg(msg){
        index = layer.msg(msg, {
                icon: 16,
                shade: 0.5,
                time: 30000,
                shadeClose: false 
            });
    }
    function isPhoneNo(phone) { 
        var pattern = /^\d{1,100}$/; 
        return pattern.test(phone); 
    }
    function val_isnull_phone(obj)
    {
        obj.parent().next().html("{$Think.lang.phone_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
})
</script>
</body>
</html>