{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <section class="page-container marginT30 marginB30">
        <div class="mColumn">
            <div class="mColumn-title tran300">{$Think.lang.reset_password}</div>
            <div class="con">
                <section class="mForm resetPSW tran300">
                    <div class="mForm-body">
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 password_" id='password_' type="password" placeholder="Please input new password" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <div class="mForm-group">
                            <div class="mForm-field tran300">
                                <input class="tran300 password_2 entersubmit" type="password" placeholder="Please input new password again" />
                            </div>
                            <div class="mForm-group-tips tran300"></div>
                        </div>
                        <a class="mForm-btn tran300" id='next_' href="javascript:void(0);">{$Think.lang.next}</a>
                    </div>
                </section><!--.mForm end-->
            </div>
        </div><!--.mColumn end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
<script>
$(function(){
    $('.entersubmit').keydown(function(event){ 
        if(event.keyCode==13){ 
            $("#next_").trigger('click');
        } 
    }); 
    $('#next_').on('click',function(){
        var check=0;
        $("input[type='password']").each(function(){
            if ($(this).val().trim().length == 0) {
                check=1;
                val_isnull($(this));
            } else if ($(this).val().trim().length>100) {
                check=1;
                val_length($(this));
            } else {
                if ($(this).hasClass('password_')) {
                    if (password_check($(this).val().trim()) == false ) {
                        check=1;
                        val_isnull_password($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else if ($(this).hasClass('password_2')) {
                    if ($(this).val().trim() != $('#password_').val()) {
                        check=1;
                        val_isnull_password_2($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else {
                    val_is_notnull($(this));
                }
            }
        })
        if (check == 0) {
            var newPassword = $('#password_').val();
            var id = "{:input('id')}";
            var token = "{:input('pwdtoken')}";
            $.ajax({
                url: "{:url('index/User/reset_password')}", 
                data: {"newPassword":newPassword,'id':id,'token':token},
                type:'post', 
                dataType: "json", 
                error:function(data){
                     showErrMsg("{$Think.lang.ajax_err}");
                     return;
                },  
                success:function(result){
                    if (result.status == 0) {
                        showErrMsg(result.info);
                    } else {
                        window.location.href="{:url('index/User/reset_password_success')}";
                    }
                }
            })
        }
    })
    function val_length(obj)
    {
        obj.parent().next().html("{$Think.lang.val_l}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    function val_is_notnull(obj)
    {
        obj.parent().addClass('success');                       //增加提示成功的类
        obj.parent().next().empty();                            //移除错误提示
        obj.parent().next().removeClass('error');               //删除错误提示的类
        
    }
    function val_isnull(obj)
    {
        obj.parent().next().html("{$Think.lang.val_r}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password(obj)
    {
        obj.parent().next().html("{$Think.lang.pwd_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password_2(obj)
    {
        obj.parent().next().html("{$Think.lang.rpwd_val}");     //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function email_check(val)
    { 
        var pattern = /^(\w-*\.*&*)+@(\w-?)+(\.\w{2,})+$/;
        return pattern.test(val); 
    }
    function password_check(val)  
    {  
        var pattern = /^(?![0-9]+$)(?![a-zA-Z]+$)[A-Za-z\d!@#$%^&*()_+<>?:"{},.\/;'[\]]{8,16}$/;
        return pattern.test(val); 
    } 
})
</script>
</body>
</html>