{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <section class="page-container marginT30 marginB30">
        <div class="mColumn">
            <div class="mColumn-title tran300">{$Think.lang.reset_password}</div>
            <div class="con">
                <section class="mForm tran300">
                    <div class="mActionTips-center tran300 success marginT30">
                        <p class="con">{$Think.lang.msg_up}</p>
                        <div class="actions"><a class="mColorGreen" href="{:url('/login')}">{$Think.lang.now_login}</a></div>
                    </div>
                </section>
            </div>
        </div><!--.mColumn end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
</body>
</html>