{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <div class="w1400"><div class="position"><a href="{:url('/')}">{$Think.lang.home}</a> &gt; <a href="">{$Think.lang.user_center}</a> &gt; <a href="/en/user_info">{$Think.lang.us_info}</a> &gt; {$Think.lang.update_password}</div></div>
    <section class="page-container page-containerLR20 marginB30">
        <div class="mCaption"><span>{$Think.lang.update_password}</span></div>
        
        <section class="mForm mFormLR tran300" style="margin: 0 auto;">
            <div class="mActionTips-center tran300 success">
                <p class="con">{$Think.lang.update_password_success}</p>
                <div class="actions"><a class="mColorGreen" href="{:url('/login')}">{$Think.lang.back_login}</a></div>
            </div>
        </section><!--.mForm end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
</body>
</html>