{include file="layout/top" /}
{include file="layout/header" /}
<div class="page-content">
    <div class="w1400"><div class="position"><a href="{:url('/')}">{$Think.lang.home}</a> &gt; <a href="">{$Think.lang.user_center}</a> &gt; <a href="/user_info">{$Think.lang.us_info}</a> &gt; {$Think.lang.update_password}</div></div>

    <section class="page-container page-containerLR20 marginB30">
        <div class="mCaption"><span>{$Think.lang.update_password}</span></div>

        <section class="mForm mFormLR offset tran300">
            <div class="mForm-body">
            <form action="" method="post" id='update_password'>
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.old_password}</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field tran300">
                            <input class="tran300 password_" name='oldPassword' type="password" placeholder="" value="" />
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.new_password}</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field tran300">
                            <input class="tran300 password_"  id='password_' name='newPassword' type="password" placeholder="" vaule="" /><span>{$Think.lang.pwd_val}</span>
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
                <div class="mForm-group">
                    <div class="mForm-colLeft"><span class="mColorGreen">*</span>&nbsp;{$Think.lang.sure}{$Think.lang.new_password}</div>
                    <div class="mForm-colRight">
                        <div class="mForm-field tran300">
                            <input class="tran300 password_2" type="password" placeholder="" vaule="" /><span>{$Think.lang.pwd_val}</span>
                        </div>
                        <div class="mForm-group-tips tran300"></div>
                    </div>
                </div>
            </form> 
                <div class="mForm-group">
                    <div class="mForm-colLeft empty"></div>
                    <div class="mForm-colRight">
                        <a class="mForm-btn-solid tran300 commit_" href="javascript:void(0);">{$Think.lang.save}</a>
                    </div>
                </div>
            </div>
        </section><!--.mForm end-->
    </section><!--.page-container end-->
</div>
{include file="layout/footer" /}
{include file="layout/js" /}
<script>
     if (getCookie('upd_pwd_err').trim().length>0) {
        showErrMsg(eval(getCookie('upd_pwd_err')));
        delCookie('upd_pwd_err');
    }
    $('.password_2').keydown(function(event){ 
        if(event.keyCode==13){ 
            $('.commit_').trigger('click');
        } 
    });
    function password_check(val)  
    {  
        var pattern = /^(?![0-9]+$)(?![a-zA-Z]+$)[A-Za-z\d!@#$%^&*()_+<>?:"{},.\/;'[\]]{8,16}$/;
        return pattern.test(val); 
    } 
    function val_length(obj)
    {
        obj.parent().next().html("{$Think.lang.val_l}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
    }
    function val_is_notnull(obj)
    {
        obj.parent().addClass('success');                       //增加提示成功的类
        obj.parent().next().empty();                            //移除错误提示
        obj.parent().next().removeClass('error');               //删除错误提示的类
        
    }
    function val_isnull(obj)
    {
        obj.parent().next().html("{$Think.lang.val_r}");        //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password(obj)
    {
        obj.parent().next().html("{$Think.lang.pwd_val}");    //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    function val_isnull_password_2(obj)
    {
        obj.parent().next().html("{$Think.lang.rpwd_val}");     //增加错误提示
        obj.parent().next().addClass('error');                  //增加错误提示的类
        obj.parent().removeClass('success');                    //移除成功提示的类
        
    }
    $('.commit_').on('click',function(){
        var check=0;
        $("#update_password input[type='password']").each(function(){
            if ($(this).val().trim().length == 0) {
                check=1;
                val_isnull($(this));
            } else if ($(this).val().trim().length>100) {
                check=1;
                val_length($(this));
            } else {
                if ($(this).hasClass('password_')) {
                    if (password_check($(this).val().trim()) == false ) {
                        check=1;
                        val_isnull_password($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else if($(this).hasClass('password_2')) {
                    if ($(this).val().trim() != $('#password_').val()) {
                        check=1;
                        val_isnull_password_2($(this));
                    } else {
                        val_is_notnull($(this));
                    }
                } else {
                    val_is_notnull($(this));
                }
            }        
        });
        if (check == 0) {   
            $('#update_password').submit();
        } 
    })
</script>
</body>
</html>